#weather-app {
    background-color: #ECF0F1;
}

.header-title{
    display: block;
    padding-left: 25px;
    font-size: 32px;
}

#cards-weather .card{
    text-align: left;
    margin-left: 25px;
    margin-top: 25px;
}

#cards-weather .card:hover{
  width: 13rem;
  /*background-image: linear-gradient(#74b9ff, #81ecec);*/
  background-image: linear-gradient(#dfe6e9, #fff);
}

#separator {
    border-width: 1.5px;
}

#information-title {
    font-size: 25px;
}
