#weather-app {
    background-color: #ECF0F1;
}

.header-title{
    display: block;
    padding-left: 25px;
    font-size: 32px;
}

#cards-weather .card{
    text-align: left;
    margin-left: 25px;
    margin-top: 25px;
}

#separator {
    border-width: 1.5px;
}

#information-title {
    font-size: 25px;
}
